.editor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    padding: 20px;
    background-color: #f7f7f7;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

    box-shadow: 0 4px 8px rgba(34, 151, 153, 0.6);
}

.forms-control {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 3px solid var(--clr-primary-1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

input.meme-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    width: auto;
}

.canvas {
    border: 3px solid var(--clr-primary-1);
}

.close-btn {
    position: fixed;
    top: 114px;
    right: 1px;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--clr-primary-1);
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
}

.close-btn:hover {
    transform: scale(1.2);
}

.close-btn:focus {
    outline: none;
}

.close-btn:active {
    transform: scale(1.1);
}

.control-btn {
    width: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 50%;
    margin: 2px;
    border: none;
    background-color: var(--clr-primary-1);
    color: white;
    cursor: pointer;
}

.color-picker {
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.share-btn {
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-btn:hover {
    background-color: #ff4516;

}