.editor-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.canvas-container {
    flex: 1;
}

.forms-control {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: baseline;
    gap: 10px;
    padding: 10px;
    margin-right: 100px;
    margin-left: 10px;
    border: 5px solid #000000;



}


input.meme-text {
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    width: 80%;


}


.canvas {
    border: 1px solid #ccc;
}

.close-btn {
    position: absolute;
    top: 64px;
    left: 10px;

    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--clr-primary-1);
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
}

.close-btn:hover {
    transform: scale(1.2);
}

.close-btn:focus {
    outline: none;
}

.close-btn:active {
    transform: scale(1.1);
}

.download-btn {
    background-color: var(--clr-primary-1);
    /* Soft orange color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #E76F51;
    /* Darken on hover */
}

.download-btn:focus {
    outline: none;
}

.decrease-btn,
.increase-btn {
    width: 40px;
    padding: 10px;
    font-size: 16px;
    margin: 2px;
    border: none;
    background-color: var(--clr-primary-1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.decrease-btn,
.increase-btn button:hover {
    background-color: #ff7553;

}