@media (max-width: 840px) {
    .main-nav {
        position: fixed;
        background-color: var(--clr-primary-1);
        top: 50px;
        gap: 5px;
        left: 0;
        width: 100%;
        margin-top: 5px;
    }

    .main-nav-list {
        flex-direction: row;
        gap: 5px;
    }

    .editor-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
    }
}

@media (max-width: 840px) {

    .editor-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
    }
}